@tailwind base;
@tailwind components;
@tailwind utilities;

.card1 {
  width: 209px;
  height: 264px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  position: relative;
}

.icon1 {
  width: 80px;
  height: 80px;

  position: absolute;
  top: 56px;
  left: 67px;
}

.text1 {
  width: 166px;
  height: 32px;
  font-size: 16px;
  color: #333333;
  position: absolute;
  top: 148px;
  left: 24px;
}

.icon-small1 {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 224px;
  left: 93px;
  padding: 2px;
}
.pozadina {
  background: #183059;
  background-image: url("images/Frame1.png");
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 90px;
}

.granica {
  border: 1px solid white;
}
.narandzasta {
  color: #f77000;
}
.narandzasta2 {
  background: #f77000;

  padding-bottom: 20px;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 90px;
}
.primarna {
  color: #002857;
}
.poster {
  width: 1300px;
  height: 588px;
  top: 1610px;
  left: 70px;
  gap: 0px;
  border-radius: 40px;
  opacity: 0;
}
.kontbnr {
  background-image: url("images/confident.png");
  width: 1300px;
  height: 588px;
  border-radius: 32px;
}

.little-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 30px;
  gap: 8px;
  background-color: transparent;
  border: 2px solid #ccc; /* Border color */
  border-radius: 38px;
}
