@tailwind base;
@tailwind components;
@tailwind utilities;

.card1 {
  width: 370px;
  height: 149px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

@media (min-width: 1024px) {
  .card1 {
    width: 630px;
    height: 181px;
  }
}

.icon1 {
  position: absolute;
}

.text1 {
  width: 166px;
  height: 32px;
  font-size: 16px;
  color: #333333;
  position: absolute;
  top: 148px;
}

.icon-small1 {
  width: 24px;
  height: 24px;

  position: absolute;
  top: 224px;
  left: 93px;
  padding: 2px;
}
.pozadina {
  background: #0a0f1b;
  background-image: url("images/Mask group.png");
  background-size: cover;

  height: 685px;
}

.pozadina2 {
  background-image: url("images/moneyrise.png");
  height: 521px;
  width: 1240px;
}

.pozadinaboja {
  background: #0a0f1b;
  background-size: cover;
  height: auto;
}

.pozadinaboja2 {
  background: #0a0f1b;
  height: auto;
}

.granica {
  border: 1px solid white;
}
.zlatnozuta {
  color: #c69638;
}

.primarna {
  color: #002857;
}
.poster {
  width: 1300px;
  height: 588px;
  top: 1610px;
  left: 70px;
  gap: 0px;
  border-radius: 40px;
  opacity: 0;
}

.little-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

  background-color: transparent;
  border: 2px solid #ccc; /* Border color */
  border-radius: 38px;
  width: 250px;
}
.card3 {
  width: 320px;
  height: 320px;
  position: relative;
}

.howitworks {
  width: fit;
  height: auto;
}

.card-image3 {
  object-fit: cover;
}

.card-title3 {
  font-size: 24px;
  margin-top: 20px;
}

.cardb3 {
  border-radius: 18px;
  background: #e9eef7;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3.5px);
}
@media (min-width: 768px) {
  .cardb3 {
    width: 568px;
    height: 542px;
  }
}

.zlatntext {
  color: #c69638;
}

.rec {
  /* Accent */
  background: #f77000;
  color: white;
  border-bottom: 1px solid #f77000;
  border-radius: 10px;
  margin-bottom: -15px;
  z-index: 1;
}

.card-bodyb3 {
  padding: 8px;
  width: 90%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.card-bodyb3 p {
  margin-bottom: 10px;
}

.card-bodyb3 ul {
  list-style-type: disc; /* Change to 'disc' to display as dots */
  padding: 17px;
}

.card-bodyb3 li {
  margin-bottom: 5px;
}

.card-footerb3 {
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 30px;
  gap: 8px;

  height: 47px;
  left: 32px;
  right: 32px;
  bottom: 32px;
}

.left {
  flex: 1;
  padding: 2.5rem;
}

.right {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.right > div {
  flex: 1;
}

ul {
  list-style: none;
}

.belitekst {
  color: white !important;
}
.kontejner {
  background: #0e1428;
}
.bojakarticeUS {
  background: #0e162a;
}
.pozadina3 {
  background-image: url("images/pozadina3.png");
}
@media (max-width: 768px) {
  .nevidljivo-mob {
    display: none;
  }
}
.slideUpAnimacija {
  animation: slideUp 1s ease-out;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.neondugmence button {
  box-shadow: 0 0 20px rgba(56, 82, 172, 0.8);
}
